.center { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.myFonts {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1.5em;
	font-weight: 200;

}

form input[type="text"]{
	width: 20%;
	margin: 7px;
	border: 2px solid skyblue;
	border-radius: 7px;
}